body{
  background-color: #7EC8E3;
  border-radius: 10px;
  font-family: "Raleway", sans-serif;
}
.head{
  text-align: center;
  margin-top: 20px 0;
  font-style: italic;
}

.textLeft{
  text-align: left;
  color: #f2f5f8;
}

.card{
  width: 450px;
  margin: auto;
  border: none;
  border-radius: 10px;
  background-color: #050A30;
  box-shadow: 10px 10px 5px #000C66;
}

.image{
  min-width: 155px;
  margin-right: 20px;
}

.stats{
  background: #f2f5f8;
  color: black;
}

.fname{
  font-size: 10px;
  color: #a1aab9;
}

.fresult{
  font-weight: 500;
}

.lname{
  font-size: 10px;
  color: #a1aab9;
}

.lresult{
  font-weight: 500;
}

.email{
  font-size: 10px;
  color: #a1aab9;
}

.eresult{
  font-weight: 500;
}